## Portfolio risk Estimation: Hands-on Approach
### Compiler: Mashele Given Phazamisa

In [1]:
## Import the neccesary libraries
import pandas as pd
import numpy as np

In [50]:
# Lets read the stock price data
data = pd.read_csv('stock_prices_data1.csv',sep=";")

In [51]:
# Lets display the first five rows of the 10 stock prices dataset
data.head()

,Date,SPY,BND,GLD,NFLX,VTI,IBM,AAPL,TSLA,VZ,GE
0,2019/01/30 00:00,267.579987,79.720001,124.690002,340.660004,137.320007,128.470367,41.312500,20.584667,54.000000,54.644810
1,2019/01/31 00:00,269.929993,80.089996,124.750000,339.500000,138.529999,128.508606,41.610001,20.468000,55.060001,61.010029
2,2019/02/01 00:00,270.059998,79.669998,124.500000,339.850006,138.729996,128.202683,41.630001,20.813999,54.549999,61.190174
3,2019/02/04 00:00,271.959992,79.599998,123.959999,351.339996,139.720001,129.244736,42.812500,20.859333,54.040001,61.310272
4,2019/02/05 00:00,273.100006,79.769997,124.279999,355.809998,140.300003,129.588913,43.544998,21.423332,54.139999,63.832344

In [52]:
## Lets check the dataset types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257 entries, 0 to 1256
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1257 non-null   object
 1   SPY     1257 non-null   float64
 2   BND     1257 non-null   float64
 3   GLD     1257 non-null   float64
 4   NFLX    1257 non-null   float64
 5   VTI     1257 non-null   float64
 6   IBM     1257 non-null   float64
 7   AAPL    1257 non-null   float64
 8   TSLA    1257 non-null   float64
 9   VZ      1257 non-null   float64
 10  GE      1257 non-null   float64
dtypes: float64(10), object(1)
memory usage: 108.1+ KB

In [53]:
### Lets change the date to a datetime format
data['Date'] = pd.to_datetime(data['Date'])

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257 entries, 0 to 1256
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1257 non-null   datetime64[ns]
 1   SPY     1257 non-null   float64
 2   BND     1257 non-null   float64
 3   GLD     1257 non-null   float64
 4   NFLX    1257 non-null   float64
 5   VTI     1257 non-null   float64
 6   IBM     1257 non-null   float64
 7   AAPL    1257 non-null   float64
 8   TSLA    1257 non-null   float64
 9   VZ      1257 non-null   float64
 10  GE      1257 non-null   float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 108.1 KB

In [55]:
data.head()

,Date,SPY,BND,GLD,NFLX,VTI,IBM,AAPL,TSLA,VZ,GE
0,2019-01-30,267.579987,79.720001,124.690002,340.660004,137.320007,128.470367,41.312500,20.584667,54.000000,54.644810
1,2019-01-31,269.929993,80.089996,124.750000,339.500000,138.529999,128.508606,41.610001,20.468000,55.060001,61.010029
2,2019-02-01,270.059998,79.669998,124.500000,339.850006,138.729996,128.202683,41.630001,20.813999,54.549999,61.190174
3,2019-02-04,271.959992,79.599998,123.959999,351.339996,139.720001,129.244736,42.812500,20.859333,54.040001,61.310272
4,2019-02-05,273.100006,79.769997,124.279999,355.809998,140.300003,129.588913,43.544998,21.423332,54.139999,63.832344

In [56]:
## Lets set the index as date
data.set_index('Date',inplace=True)

In [57]:
data.head()

,SPY,BND,GLD,NFLX,VTI,IBM,AAPL,TSLA,VZ,GE
Date,,,,,,,,,,
2019-01-30,267.579987,79.720001,124.690002,340.660004,137.320007,128.470367,41.312500,20.584667,54.000000,54.644810
2019-01-31,269.929993,80.089996,124.750000,339.500000,138.529999,128.508606,41.610001,20.468000,55.060001,61.010029
2019-02-01,270.059998,79.669998,124.500000,339.850006,138.729996,128.202683,41.630001,20.813999,54.549999,61.190174
2019-02-04,271.959992,79.599998,123.959999,351.339996,139.720001,129.244736,42.812500,20.859333,54.040001,61.310272
2019-02-05,273.100006,79.769997,124.279999,355.809998,140.300003,129.588913,43.544998,21.423332,54.139999,63.832344

### Compute the daily returns of each stock

In [58]:
### Now we calcuate the returns of all the 10 stock prices data
returns_data = data.pct_change(1)

In [59]:
# Display the first five rows on the returns stock data
returns_data.head()

,SPY,BND,GLD,NFLX,VTI,IBM,AAPL,TSLA,VZ,GE
Date,,,,,,,,,,
2019-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-31,0.008782,0.004641,0.000481,-0.003405,0.008811,0.000298,0.007201,-0.005668,0.019630,0.116484
2019-02-01,0.000482,-0.005244,-0.002004,0.001031,0.001444,-0.002381,0.000481,0.016904,-0.009263,0.002953
2019-02-04,0.007035,-0.000879,-0.004337,0.033809,0.007136,0.008128,0.028405,0.002178,-0.009349,0.001963
2019-02-05,0.004192,0.002136,0.002581,0.012723,0.004151,0.002663,0.017109,0.027038,0.001850,0.041136

### Create a Vector of equal weights of all the 10 stocks

In [60]:
### Now lets calcuate the weights on each stock: Assume equal weighs
num_stocks = len(returns_data.columns)
weights = [1/num_stocks]*num_stocks

In [61]:
## Lets display the list of weights:
print(weights)

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

### Variance Covariance Matrix computation

In [62]:
## Now lets calculate the variance-covariance Matrix
cov_matrix = returns_data.cov()
print(cov_matrix)

           SPY       BND       GLD      NFLX       VTI       IBM      AAPL  \
SPY   0.000175  0.000010  0.000014  0.000182  0.000178  0.000143  0.000213
BND   0.000010  0.000018  0.000015  0.000017  0.000011  0.000005  0.000013
GLD   0.000014  0.000015  0.000089  0.000027  0.000015  0.000013  0.000017
NFLX  0.000182  0.000017  0.000027  0.000840  0.000186  0.000065  0.000270
VTI   0.000178  0.000011  0.000015  0.000186  0.000183  0.000145  0.000214
IBM   0.000143  0.000005  0.000013  0.000065  0.000145  0.000278  0.000146
AAPL  0.000213  0.000013  0.000017  0.000270  0.000214  0.000146  0.000400
TSLA  0.000266  0.000014  0.000029  0.000427  0.000283  0.000126  0.000398
VZ    0.000078  0.000006  0.000012  0.000052  0.000077  0.000094  0.000076
GE    0.000204  0.000002 -0.000005  0.000134  0.000212  0.000215  0.000196

          TSLA        VZ        GE
SPY   0.000266  0.000078  0.000204
BND   0.000014  0.000006  0.000002
GLD   0.000029  0.000012 -0.000005
NFLX  0.000427  0.000052  0.000134
VTI   0.000283  0.000077  0.000212
IBM   0.000126  0.000094  0.000215
AAPL  0.000398  0.000076  0.000196
TSLA  0.001656  0.000031  0.000247
VZ    0.000031  0.000175  0.000097
GE    0.000247  0.000097  0.000666

In [64]:
### Now lets compute the daily portfolio variance
var_p = np.dot(np.transpose(weights),np.dot(cov_matrix,weights))
print(var_p)

0.00014820294008900523

### Daily portfolio risk with equal weights

In [65]:
### Lets now calculate the portfolio standard deviation
std_p = np.sqrt(var_p)
print(std_p)

0.012173862989577516

### Annual portfolio risk with equal weights

In [66]:
annual_std_p = std_p*np.sqrt(250)
print(annual_std_p)

0.19248567484945808

### Individual stock risks computation: Benchmark

In [68]:
### Lets now compute the individual risks
df =np.std(returns_data)*np.sqrt(250)
print(df)

SPY     0.208865
BND     0.067814
GLD     0.148795
NFLX    0.458115
VTI     0.213801
IBM     0.263342
AAPL    0.316197
TSLA    0.643092
VZ      0.209321
GE      0.407749
dtype: float64